{% extends "base.html" %}

{% block extrahead %}
	<script type="text/javascript">
		$(function () {
			var availableTags = ["Patrick McGannon","Spencer Brown","Tyler Cecil","Russell White","Rob Kelly","Mark Edmonds","Robby Medhi","Tyler Kavanaugh","Niko Colom","Deb Pontier"];
			$("#search").autocomplete({
				source: function(req, add) {
					$.getJSON("/students_json",function(data) {
						var suggestions = [];
						
						$.each(data, function(i, val){  
                    				//suggestions.push("" + val.fields.firstName + val.fields.lastName); 
						});
					});

					add(suggestions);
				},
				select: function(ev,ui) {
				}
			});
		});
		
		$(function () {
			$("#radios").buttonset();
		});
		
		$(function () {
			$("#radio1").click(function () {
				$("#search").hide();
				$(".roster").fadeIn();
			});
		});
		
		$(function () {
			$("#radio2").click(function () {
				$(".roster").hide();
				$("#search").fadeIn();
			});
		});
		
	</script>
{% endblock %}

{% block content %}
	<div id="radios" class="center">
		<input type="radio" id="radio1" name="radio" /><label for="radio1">Choice 1</label>
		<input type="radio" id="radio2" name="radio" checked="checked" /><label for="radio2">Choice 2</label>
		<input type="radio" id="radio3" name="radio" /><label for="radio3">Choice 3</label>
	</div>
	
	<br />
	<br />
	<br />
	<br />

<div class="ui-widget center">
	<input id="search">
</div>
<br />


<div class="center roster">
<table>
	<!--
	<tr>
		<th>Name</th>
		<th>Destination</th>
		<th>Seminar</th>
	</tr>
		<td>Patrick McGannon</td>
		<td>Room 512</td>
		<td>Seminar A</td>
	</tr>
	<tr>
		<td>Tyler Cecil</td>
		<td>Room 206</td>
		<td>Seminar AB</td>
	</tr>
	-->
	{% for student in student_list %}
		<tr>
			<th>{{ student.firstName }} {{ student.lastName }}</th>
			<th>{{ student.seminar.room }}</th>
		</tr>
	{% endfor %}

	<div id="pass_form">
	</div>
		
	
</table>
</div>

{% endblock%}
